<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html lang = "en">
   <head></head>
   <body>
        <h2 align="center">
            CUSTOMERS FROM SQLAlchemy connected database table
        </h2>
        <hr/>
      <table border="1" width="45%" align="center">
         <thead>
            <tr align="center" valign="top">
                <th>FirstName</th>
                <th>LastName</th>
                <th>Company</th>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
                <th>Country</th>
                <th>PostalCode</th>
                <th>Phone</th>
                <th>Fax</th>
                <th>Email</th>
            </tr>
         </thead>

         <tbody>
            {% for customer in customers %}
               <tr>
                   <td>{{ customer["FirstName"] }}</td>
                   <td>{{ customer["LastName"] }}</td>
                   <td>{{ customer["Company"] }}</td>
                   <td>{{ customer["Address"] }}</td>
                   <td>{{ customer["City"] }}</td>
                   <td>{{ customer["State"] }}</td>
                   <td>{{ customer["Country"] }}</td>
                   <td>{{ customer["PostalCode"] }}</td>
                   <td>{{ customer["Phone"] }}</td>
                   <td>{{ customer["Fax"] }}</td>
                   <td>{{ customer["Email"] }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>

   </body>
</html>