<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html lang = "en">
   <head></head>
   <body>
        <h2>
            <a href="{{ url_for('show_all') }}"> View added table</a>
        </h2>
        <hr/>
        <h2>
            <a href="{{ url_for('new') }}"> Add students</a>
        </h2>
      <table border="3" width="45%">
         <thead>
            <tr align="center" valign="top">
               <th>Name</th>
               <th>City</th>
               <th>Address</th>
               <th>Pin</th>
            </tr>
         </thead>

         <tbody>
            {% for student in students %}
               <tr>
                  <td>{{ student.name }}</td>
                  <td>{{ student.city }}</td>
                  <td>{{ student.addr }}</td>
                  <td>{{ student.pin }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>

   </body>
</html>